@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: var(--main-background-color);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 18%;
  height: 45%;
  background-color: var(--card-background-color);
  border-radius: 8px;
  padding: 1.2%;
  margin-top: 5%;
  box-shadow: 1px 0px 18px 11px rgba(16, 30, 49, 0.75);

  .figure {
    margin: 0;
    width: 100%;
    height: 85%;
    position: relative;

    .img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .view {
      display: none;
    }

    &:hover {
      cursor: pointer;
      .img {
        filter: brightness(50%);
      }

      .view {
        display: block;
        position: absolute;
        top: 40%;
        right: 40%;
      }
    }
  }

  .title {
    color: var(--title-color);
    font-size: 1.25rem;
    font-family: var(--primary-font);
    text-align: left;
    width: 100%;
    margin-top: 5%;
    font-weight: 500;
  }

  .paragraph {
    width: 100%;
    font-size: 0.875rem;
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--paragraph-color);
    margin-top: 5%;
  }

  .priceAndDay {
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: space-between;

    .price {
      font-size: 0.875rem;
      font-weight: 300;
      font-family: var(--primary-font);
      color: var(--price-color);
      margin-top: 5%;
      text-align: left;
    }

    .day {
      display: flex;
      align-items: center;
      text-align: right;
      font-family: var(--primary-font);
      font-weight: 300;
      color: var(--paragraph-color);
      margin-top: 5%;
      font-size: 0.875rem;

      .clock {
        object-fit: cover;
      }
    }
  }
  .line {
    width: 100%;
    margin-top: 5%;
    border: none;
    background-color: var(--line-color);
    height: 0.5px;
  }

  .creator {
    display: flex;
    width: 100%;
    gap: 5%;

    .imgCreator {
      object-fit: cover;
      width: 10%;
      height: 10%;
      margin-top: 5%;
    }

    .nameCreator {
      font-family: var(--primary-font);
      font-size: 0.875rem;
      color: var(--paragraph-color);
      margin-top: 5%;
      font-weight: 300;

      .span {
        color: var(--title-color);
        cursor: pointer;
        &:hover {
          color: var(--price-color);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    width: 70%;
  }
}
