:root {
  --paragraph-color: hsl(215, 51%, 70%);
  --price-color: hsl(178, 100%, 50%);
  --main-background-color: hsl(217, 54%, 11%);
  --card-background-color: hsl(215, 51%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --title-color: hsl(0, 0%, 100%);
  --primary-font: "Outfit", sans-serif;
}
